<html>
	<head>
		<title>Dashboard</title>
		<h1>FlaskQuiz</h1>
		<style type="text/css">a{text-decoration:none}</style>
	</head>
	<body>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<div class="w3-container">
			<div class="w3-bar w3-white w3-border w3-border-green w3-round-large w3-large">
				<a href="dashboard" class="w3-bar-item w3-button w3-hover-green" target="_self">Dashboard</a>
				<a href="profile" class="w3-bar-item w3-button w3-hover-green" target="_self">Profile</a>
				<a href="leaderboard" class="w3-bar-item w3-button w3-hover-green" target="_self">Leaderboard</a>
				<a href="login" class="w3-bar-item w3-button w3-right w3-hover-green" target="_self">Logout</a>
  			</div>
  			<br><br><br> 
  			<a href="quiz1" class="w3-button w3-block w3-blue w3-hover-white w3-round-large w3-large" target="_self">Doraemon Quiz</a>
  			<br>
  			<a href="quiz2" class="w3-button w3-block w3-red w3-hover-white w3-round-large w3-large" target="_self">Shinchan Quiz</a>
  			<br>
  			<a href="quiz3" class="w3-button w3-block w3-yellow w3-hover-white w3-round-large w3-large" target="_self">Chhota Bheem Quiz</a>
  			<br>
  			<a href="quiz4" class="w3-button w3-block w3-indigo w3-hover-white w3-round-large w3-large" target="_self">Ninja Hattori Quiz</a>
		</div>
	</body>
</html>



