<html>
	<head>
		<title>Leaderboard</title>
		<style type="text/css">a{text-decoration:none}</style>
	</head>
	<body>
		<h2>Leaderboard</h2>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<div class="w3-container">
			<div class="w3-bar w3-white w3-border w3-border-green w3-round-large w3-large">
				<a href="dashboard" class="w3-bar-item w3-button w3-hover-green" target="_self">Dashboard</a>
				<a href="profile" class="w3-bar-item w3-button w3-hover-green" target="_self">Profile</a>
				<a href="leaderboard" class="w3-bar-item w3-button w3-hover-green" target="_self">Leaderboard</a>
				<a href="login" class="w3-bar-item w3-button w3-right w3-hover-green" target="_self">Logout</a>
  			</div>
		</div>
        <br><br><br>
        {% with messages = get_flashed_messages() %}
    	{% if messages %}
        	{% for message in messages %}
        	    <i>{{message}}</i>
        	    <br>
    	    {% endfor %}
    	{% endif %}
		{% endwith %}

		{% for s in m %}
		<h2> {{s}} </h2>
		<table border="1">
			{% for a in m[s] %}
        <tr>
					{% for row in a%}
            <td>{{ row }}</td>
						{% endfor %}
        </tr>
				{% endfor %}
	</table>
	{% endfor %}
        <!-- <h2>Doraemon Quiz</h2>
        <table>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
        </table>
        <br>
        <h2>Shinchan Quiz</h2>
        <table>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
        </table>
        <br>
        <h2>Chhota Bheem Quiz</h2>
        <table>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
        </table>
        <br>
        <h2>Ninja Hattori Quiz</h2>
        <table>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
        </table> -->
	</body>
</html>
